.container {
    width: 800px;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 12px 0 8px -4px rgba(0, 0, 0, 0.97), -12px 0 8px -4px rgba(0, 0, 0, 0.97);
}

p,
li {
    color: #707070;
}

header {
    text-align: center;
}

h1 {
    color: #DB0038;
}

h2 {
    color: #3998A3;
}

h3 {
    color: #474747;
}

.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    text-align: center;
}

body {
    font-family: 'HappyMonkey';
}

.rating {
    color: #F4B400;
    size: 25px;
}